.page-header
  %h1= t("activerecord.models.room")

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t("activerecord.attributes.room.name")
        %th= t("activerecord.attributes.room.users_online")
        %th= t("activerecord.attributes.room.owner_name")


    %tbody
      = render @rooms
