.page-header
  = link_to rooms_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1= @room.name

.row
  .col-sm-3
    %h2= @room.owner.name
    %video#vid
    %ul
      - @room.users_online.each do |user|
        %li= link_to user.name, user_path(user)
  .col-sm-9
    #messages
      .media-list= render @room.messages
    %hr/
    = render 'messages/form', message: Message.new, room: @room
