= form_for message, html: { class: "form-horizontal", role: "form" }, format: :js, remote: true do |f|
  -if message.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(message.errors.count, "error")} prohibited this message from being saved:"

      %ul
        - message.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :body, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :body, class: 'form-control'
      = f.hidden_field :room_id, value: room.id if local_assigns[:room]
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
