publisher = client.publish('/messages', {
  message: '<%= j render @message, locals: { message: @message } %>'
});

publisher.callback(function() {
  $('#message_body').val('');
  $('#new_message').find("input[type='submit']").val('Submit').prop('disabled', false)
});

publisher.errback(function() {
  alert('There was an error while posting your message.');
});
